<div class="container content">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="content-heading">THE CLUTTER APPROACH</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="15000">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner text-center" role="listbox">
          <div class="item active" s>
            <%= image_tag "approach/closet.jpg", class: "img" %><br>
            <p><strong><em>When beginning their decluttering journey, many people prefer to start with their closet.</em></strong> We provide our clients with a variety of meticulous storing techniques, such as vertical folding. This efficient system allows them to maximize their closet space, while also being able to find and return their clothes with ease.</p>
          </div>
          <div class="item">
            <%= image_tag "approach/bedroom.jpg", class: "img"  %><br>
            <p><strong><em>Did you know we spend at least a third of our days rummaging through our bedroom?</em></strong> Placing your belongings in a strategic manner allows everything to have a purposeful home. This leads to an increase in muscle memory, and reduces the time and stress associated with deciding where items should go.</p>
          </div>
          <div class="item">
            <%= image_tag "approach/living.jpg", class: "img"  %><br>
            <p><strong><em>The living room should be a peaceful setting where you can unwind after a long day.</em></strong> To make life easier, we teach our clients to never leave the room empty-handed. The benefit of this technique is that it infuses consistency with convenience and minimizes a messy environment created by procrastination.</p>
          </div>
          <div class="item">
            <%= image_tag "approach/kitchen.jpg", class: "img" %><br>
            <p><strong><em>Many people claim that your kitchen sink actually has more germs than your toilet.</em></strong> To maintain a minimal aesthetic, only the items which serve a function in your daily routine should be present on your countertop. Keeping a decluttered sink and a sleek countertop will surely optimize your cooking experience.</p>
          </div>
          <div class="item">
            <%= image_tag "approach/bathroom.jpg", class: "img" %><br>
            <p><strong><em>The number of bathroom products in the crevices of yours cabinets will astound you.</em></strong> We recommend creative solutions, such as drawer dividers and over-the-door caddies, to display your essentials in an accessible mannner. Having these materials at the grip of your fingertips will create a smooth and seamless bathroom routine.</p>
          </div>
        </div><br><br>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="approach glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="approach glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>