<div class="container content">
  <h2 class="text-center section-heading">PROFILE</h2><br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render 'shared/errors', obj: resource %>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number, style: 'text-transform: capitalize' %>
          <%= f.telephone_field :phone_number, :maxlength => 10, class: 'form-control', placeholder: "Phone Number" %>
        </div>
        <div class="form-group">
          <%= f.label :new_password, style: 'text-transform: capitalize' %>
          <%= f.password_field :password, class: 'form-control', placeholder: "New Password" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, style: 'text-transform: capitalize' %>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password Confirmation" %>
        </div>
      </div>
      <div class="col-md-4" style="text-align: left">
        <div class="form-group">
          <%= f.label :street_address, style: 'text-transform: capitalize' %>
          <%= f.text_field :street_address, class: 'form-control', placeholder: "Street Address" %>
        </div>
        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, class: 'form-control', placeholder: "City" %>
        </div>
        <div class="form-group">
          <%= f.label :state %>
          <%= f.text_field :state, :maxlength => 2, class: 'form-control', placeholder: "State" %>
        </div>
        <div class="form-group">
          <%= f.label :zip_code, style: 'text-transform: capitalize' %>
          <%= f.text_field :zip, :maxlength => 5, class: 'form-control', placeholder: "Zip Code" %>
        </div>
        <div class="form-group">
          <%= f.label :appointment %>
          <%= f.datetime_field :appointment, class: 'form-control', placeholder: "Appointment" %>
        </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="form-group">
          <%= f.submit "Update Profile", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>