<div class="container form">
  <div class="row">
    <h2 class="text-center section-heading">REFER A FRIEND</h2><br>
    <%= form_with(url: refer_user_path, method: :post) do |f| %>
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: "Jane Doe" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', placeholder: "jane@example.com" %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>