<div class="container text-center" style="margin-top: 50px">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "portfolio/1.jpg", height: 250, width: 350 %>
    </div>
    <div class="col-md-4">
      <%= image_tag "portfolio/2.jpg", height: 250, width: 350 %>
    </div>
    <div class="col-md-4">
      <%= image_tag "portfolio/3.jpg", height: 250, width: 350 %>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-4">
      <%= image_tag "portfolio/4.jpg", height: 250, width: 350 %>
    </div>
    <div class="col-md-4">
      <%= image_tag "portfolio/5.jpg", height: 250, width: 350 %>
    </div>
    <div class="col-md-4">
      <%= image_tag "portfolio/6.jpg", height: 250, width: 350 %>
    </div>
  </div>
  <div class="row" style="margin-top: 20px; margin-bottom: 50px">
    <div class="col-md-4">
      <%= image_tag "portfolio/7.jpg", height: 250, width: 350 %>
    </div>
    <div class="col-md-4">
      <%= image_tag "portfolio/8.jpg", height: 250, width: 350 %>
    </div>
    <div class="col-md-4">
      <%= image_tag "portfolio/9.jpg", height: 250, width: 350 %>
    </div>
  </div>
</div>