<!DOCTYPE html>
<html>
  <head>
    <title>Clutter</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body id="home">
    <%= render 'layouts/messages' %>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
