<!DOCTYPE html>
<html>
  <head>
    <title>Clutter</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if current_page?(root_path) %> 
    <body id="home" class="bg-image"> 
  <% else %> 
    <body id="home" class="bg-dark"> 
  <% end %>
    <% if !user_signed_in? %>
      <%= render 'layouts/modal' %>
    <% end %>
    <%= render 'layouts/messages' %>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
